name: CI
on:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    name: Test - Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - "3.2" # Mar 2026
          - "3.3" # Mar 2027
          - "3.4" # Mar 2028
          - "4.0" # Mar 2029
    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run linter
        run: bundle exec rake rubocop
      - name: Run tests
        run: bundle exec rake test
  build:
    if: ${{ startsWith(github.ref, 'refs/tags/v') && github.repository == 'captn3m0/jekyll-sqlite'}}
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    name: Release Gem
    needs: test
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0"
          bundler-cache: true
      - uses: rubygems/release-gem@v1
